body {
  font-family: 'Ubuntu', sans-serif;
  font-size: calc( 13px + (25 - 20) * ( (100vw - 320px) / ( 1920 - 320) ));
  color: #404040;
  transition: none;
}
.dark-mode {
  background: #2a2a2a;
  color: #e2e2e2;
}
p {
  line-height: 1.5;
  margin: 30px 0;
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}


.post-title {
  font-size: 1.6em;
}

.post-heading .post-title {
  font-size: 1.9em;
}

.post-subtitle {
  font-size: 1.3em;
  font-weight: 300;
  margin: 0 0 10px;
}

.post img {
  vertical-align: text-bottom;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}

.intro-header .post-heading h1 {
  font-size: 25px;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

a {
  color: #0079cc;
}
a:hover,
a:focus {
  color: #0089e8;
  transition: color 0.3s;
}
.social-buttons li{
  transition: background .2s linear, transform .2s linear;
}

.social-buttons li:hover,
.social-buttons li:focus {
  transform: scale(1.2);
}

blockquote {
  color: #808080;
  font-style: italic;
}
hr {
  border-top: 1px solid rgba(139, 137, 137, 0.31);
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-top: 4px solid #dfdfdf;
}
.navbar-custom {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  padding: 5px 0 5px 5px;
  height: 60px;
  line-height: 50px;
}

.navbar-custom .navbar-brand img {
  height: 45px;
  display: inline;
  margin-top: -4px;
}

.navbar-custom .nav li .nav-el {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    border-bottom: 1px solid #0e74bb;
  }
  .navbar-custom .navbar-brand {
    color: inherit;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.8);
  }
  .navbar-custom .nav li .nav-el {
    color: inherit;
    padding: 20px;
  }
  .navbar-custom .nav li .nav-el:hover,
  .navbar-custom .nav li .nav-el:focus {
    color: rgba(0, 0, 0, 0.7);
  }
}
.navbar-custom.is-visible:hover {
  opacity: 1;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: rgba(172, 172, 172, 0.20);;
}

.navbar-toggle {
  font-size: inherit;
}

.navbar-custom.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -60px;
  opacity: 0.6;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  border-bottom: 1px solid rgba(238, 238, 238, 0.44);
}

@media (max-width: 768px){
  .navbar-custom.is-fixed {
    opacity: 1;
  }
}

.navbar-custom.is-fixed .navbar-brand:hover,
.navbar-custom.is-fixed .navbar-brand:focus,
.navbar-custom.is-fixed .nav li .nav-el:hover,
.navbar-custom.is-fixed .nav li .nav-el:focus {
  color: inherit;
}

.navbar-custom.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  -webkit-transform: translate3d(0, 60px, 0);
  -moz-transform: translate3d(0, 60px, 0);
  -ms-transform: translate3d(0, 60px, 0);
  -o-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
}

.dark-mode-btn {
  font-size: 1.2em;
  background: 0;
  border: 0;
  padding: 10px 15px;
}

.intro-header {
  margin: 60px 0 5px 0;
  -webkit-box-shadow: inset 0 0 85px rgba(0,0,0,0.4);
  -moz-box-shadow:    inset 0 0 85px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 110px 40px rgba(0, 0, 0, 0.4);
  background: #005688 url(/img/background.jpg) fixed;
}

.post-heading {
  padding: 50px 0 0;
}

.header-logo {
  height: 125px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 60px 0;
}

.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
  color: #dfdfdf;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 19px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .post-meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .post-meta {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 768px){
  .intro-header .post-heading .post-meta {
    font-size: 20px;
  }
}

.box-effect {
  padding: 5px 10px;
  box-shadow: 0 1px 3px 0 #747474;
}

.dark-mode .box-effect {
  box-shadow: 0 0 5px 0 #000;
}

.post-preview {
  padding-bottom: 25px;
  margin-top: 30px;
}

.post-preview > a {
  color: inherit;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0089e8;
}
.post-preview > a > .post-title {
  margin-bottom: 10px;
}
.post-preview > .post-meta, .post-meta {
  color: #808080;
  font-size: 18px;
  margin: 0 0 5px 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0089e8;
  text-decoration: underline;
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0089e8;
  border: 1px solid #0089e8;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border: 0;
  padding: 10px 5px;
  margin-top: 0;
  background-color: inherit;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 #747474;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0079cc;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0089e8;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0089e8;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

.project-block {
  text-align: center;
}

.project-block ul {
  list-style: none;
}

.project-block img {
  display: block;
  margin: 0 auto;
}

.skillbar {
  background: #eee;
	margin-bottom:15px;
	width:100%;
	height:35px;
  line-height:35px;
	border-radius:3px;
  text-align: right;
  font-weight:bold;
  font-size:13px;
}

.skillbar-title {
  float: left;
  width:130px;
	padding:0 20px;
  text-align: center;
  filter: brightness(95%);
  height: 35px;
  color: white;
}

.skillbar-progress {
  float: left;
  height:35px;
  width: 0;
  transition: 2s;
}

.skillbar span {
  position: absolute;
  right: 25px;
  color: #2a2a2a;
}

@media (min-width: 768px) {
  .table-row {
      display: table;
  }

  .table-row >[class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: middle;
  }
}

pre {
  background-color: #272822;
  color: #f8f8f2;
}

.post-header {
  margin-top: 60px;
}

.header-hr {
  border-top: 1px solid #0e74bb;
}

.archive li {
  margin-bottom: 10px;
}

.archive li:hover {
  background-color: rgba(155, 155, 155, 0.16);
}

.navbar-right{
  text-align: right;
}

.site-tag {
  background: #0079cc;
  display: inline-block;
  margin: 10px 7px 0;
  box-shadow: 0 1px 4px 0 #000000;
  border: 1px solid #3c3c3c;
  padding: 0 5px;
  border-radius: 3px;
}

.site-tag:hover {
  transition: background 0.3s;
  background: #1a8ede;
}

.site-tag a {
  color: #eeeeee;
  text-decoration: none;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.project-description .project-btn:first-of-type {
  margin: 0 10px 0 0;
}

.project-btn {
  background: #404040;
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 20px;
  white-space: nowrap;
  transition: background .2s linear, transform .2s linear;
}

.project-btn:hover,
.project-btn:focus {
  background: #3c3c3c;
  transform: scale(1.35);
}

.project-btn .fa-circle {
  color: #404040;
}

.project,
.books {
  margin-top: 30px;
  background: rgba(222, 222, 222, 0.12);
  box-shadow: 0 0 4px 0 #000000;
}

.books {
  text-align: center;
}

.project img {
  margin: 20px auto;
}


.search-results li {
  list-style: none;
}

.search-value {
  background: inherit;
  border: 1px solid #b9b9b9;
  box-shadow: 0 0 4px 0 #575757;
  padding: 0 10px;
  margin: 10px 0;
  width: 100%;
}

.new-domain-msg {
  color: tomato;
  font-size: 1.3em;
}
.top-posts {
  margin: 0;
}
.top-posts .box-effect {
  padding: 3px 0;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.top-posts .box-effect div {
  display: inline-block;
}

.top-posts p {
  margin: 0;
}

.top-entry h4 {
  margin: 0;
}

.top-posts .top-position {
  font-size: 1.5em;
  padding: 0 10px;
  margin: 0 7px 0 3px;
  border-right: solid 1px #a5a5a554;
}

.top-posts ul {
  list-style: none;
  padding: 0;
}

.books-ad {
  padding: 5px;
  margin-top: 15px;
}

.books-ad > a {
  display: flex;
  align-items: center;
  padding: 15px;
}

.books-ad img {
  padding: 0 15px 0 0;
  height: 50px;
}

.books-ad h3 {
  margin: 0;
}

.main-btn {
  background: #262626;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin: 10px auto 10px auto;
  text-align: center;
  border: 0;
  cursor: pointer;
  padding: 3px 10px;
  box-shadow: 0 1px 4px 0 black;
}

.main-btn i {
  color: white;
}

.main-btn:hover,
.main-btn:focus{
  text-decoration: none;
  transform: translateY(-1px);
  color: #ffffff;
  background: rgb(50, 50, 50);
  box-shadow: 0 2px 8px 0 black;
}

.main-btn:active {
  transform: translateY(+1px);
  box-shadow: 0 1px 4px 0 black;
}

.contact-link {
  margin-right: 35px;
  font-size: 1.2em;
  background: none;
  border: 0;
  color: inherit;
}

.book {
  display: inline-block;
  flex-direction: column;
  padding: 15px;
  width: 300px;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
}

.book img {
  margin: 10px auto;
}

.book a {
  background: #222222;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin: 10px auto 10px auto;
  text-align: center;
  border: 0;
  padding: 5px 5px;
}

.book p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.book b {
  display: block;
}

.book .helion-ksiazkasm3 {
  font-size: .7em;
}

.book-section p {
  text-align: center;
}

.fa-ul.custom {
  list-style-type: disc!important;
}

a.disabled {
  color: gray;
  pointer-events: none;
}

.fb-page {
  padding: 5px 5px 0;
}

.fb-page iframe {
  width: 340px;
  height: 130px;
  border: none;
  overflow:hidden;
}

@media (max-width: 380px) {
  .fb-page {
    width: 100%;
  }
  .fb-page iframe {
    width: 100%;
  }
}

.m0 {
  margin: 0;
}

.ad {
  text-align: center;
  margin-top: 30px;
  display: none;
}

.ad h3 {
  margin-top: 5px;
}

.promotion-sign {
  position: absolute;
  font-size: .8em;
  display: inline-block;
  top: 0;
  color: black;
  background: #f8f8f8;
  border-radius: 5px;
  padding: 4px;
  opacity: 1;
  animation: .5s popup ease-out forwards;
  animation-delay: .5s;
  z-index: 2;
  margin: 10px 25px;
}

.promotion-sign:before {
  content: '';
  display: block;
  height: 12px;
  z-index: -1;
  transform: skew(0deg,-38deg);
  width: 19px;
  background: #f8f8f8;
  position: absolute;
  right: 5px;
  top: 0;
}

@media (max-width: 768px){
  .promotion-sign {
    right: 0;
  }
}

@keyframes popup {
  0% {transform: translateY(0px) scale3d(.2,.2,1);}
  100% {transform: translateY(65px) scale3d(1,1,1);}
}

.close-ad {
  background: 0;
  border: 0;
}