.highlight pre {
    border: none;
    margin: 0;
}

figure.highlight,
code.highlight,
.highlighter-rouge {
    background: #272822;
    color: #f92672;
    margin: 30px 0;
    padding: 0 3px;
    border: 1px solid #2d2d2d;
    box-shadow: 0 0 2px 0 #040404;
}

pre {
    background-color: inherit;
    color: inherit;
}

code.highlight,
code.highlighter-rouge {
    margin: 30px 4px;
}

pre code {
    font-size: 1em;

    @media (max-width: 768px) {
        font-size: .9em;
        white-space: pre;
    }
}

.hl {
    background-color: #272822;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
}

.hl.name {
    color: #a6e22e;
}

.highlight {

    .hll { background-color: #272822}
    .c {/* Comment */color: #75715e}
    .err {/* Error */color: #960050}
    .k {/* Keyword */color: #f92672}
    .l {/* Literal */color: #ae81ff}
    .n {/* Name */color: #f8f8f2}
    .o {/* Operator */color: #f8f8f2}
    .p {/* Punctuation */color: #f8f8f2}
    .cm {/* Comment.Multiline */color: #75715e}
    .cp {/* Comment.Preproc */color: #f8f8f2}
    .c1 {/* Comment.Single */color: #75715e}
    .cs {/* Comment.Special */color: #75715e}
    .ge {/* Generic.Emph */font-style: italic}
    .gs {/* Generic.Strong */font-weight: bold}
    .kc {/* Keyword.Constant */color: #f92672}
    .kd {/* Keyword.Declaration */color: #f92672}
    .kn {/* Keyword.Namespace */color: #f92672}
    .kp {/* Keyword.Pseudo */color: #66d9ef}
    .kr {/* Keyword.Reserved */color: #66d9ef}
    .kt {/* Keyword.Type */color: #f8f8f2}
    .ld {/* Literal.Date */color: #e6db74}
    .m {/* Literal.Number */color: #ae81ff}
    .s {/* Literal.String */color: #e6db74}
    .na {/* Name.Attribute */color: #a6e22e}
    .nb {/* Name.Builtin */color: #66d9ef}
    .nc {/* Name.Class */color: #a6e22e}
    .no {/* Name.Constant */color: #66d9ef}
    .nd {/* Name.Decorator */color: #D9E577}
    .ni {/* Name.Entity */color: #f8f8f2}
    .ne {/* Name.Exception */color: #a6e22e}
    .nf {/* Name.Function */color: #a6e22e}
    .nl {/* Name.Label */color: #f8f8f2}
    .nn {/* Name.Namespace */color: #f8f8f2}
    .nx {/* Name.Other */color: #a6e22e}
    .py {/* Name.Property */color: #f8f8f2}
    .nt {/* Name.Tag */color: #f92672}
    .nv {/* Name.Variable */color: #f8f8f2}
    .ow {/* Operator.Word */color: #f92672}
    .w {/* Text.Whitespace */color: #f8f8f2}
    .mf {/* Literal.Number.Float */color: #ae81ff}
    .mh {/* Literal.Number.Hex */color: #ae81ff}
    .mi {/* Literal.Number.Integer */color: #ae81ff}
    .mo {/* Literal.Number.Oct */color: #ae81ff}
    .sb {/* Literal.String.Backtick */color: #e6db74}
    .sc {/* Literal.String.Char */color: #e6db74}
    .sd {/* Literal.String.Doc */color: #e6db74}
    .s2 {/* Literal.String.Double */color: #e6db74}
    .se {/* Literal.String.Escape */color: #ae81ff}
    .sh {/* Literal.String.Heredoc */color: #e6db74}
    .si {/* Literal.String.Interpol */color: #e6db74}
    .sx {/* Literal.String.Other */color: #e6db74}
    .sr {/* Literal.String.Regex */color: #e6db74}
    .s1 {/* Literal.String.Single */color: #e6db74}
    .ss {/* Literal.String.Symbol */color: #e6db74}
    .bp {/* Name.Builtin.Pseudo */color: #f8f8f2}
    .vc {/* Name.Variable.Class */color: #f8f8f2}
    .vg {/* Name.Variable.Global */color: #f8f8f2}
    .vi {/* Name.Variable.Instance */color: #f8f8f2}
    .il {/* Literal.Number.Integer.Long */color: #ae81ff}
    .gh {/* Generic Heading & Diff Header */}
    .gu {/* Generic.Subheading & Diff Unified/Comment? */color: #75715e;}
    .gd {/* Generic.Deleted & Diff Deleted */color: #f92672;}
    .gi {/* Generic.Inserted & Diff Inserted */color: #a6e22e;}
}

.s {/* Literal.String */color: #e6db74}

.file,
.folder,
.path {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 4px 1px 4px;
    margin: 0 2px;
    color: #333;

    .dark-mode & {
        background-color: #383838;
        border: 1px solid #83838385;
        color: inherit;
    }
}

.path {
    margin: 0 2px;
}

.file::before {
    font-family: fontello;
    content: "\f1c9";
    padding-right: 5px;
}

.folder::before {
    font-family: fontello;
    content: "\f115";
    padding-right: 2px;
}

.warning,
.note,
.idea {
    background-color: #f3f3f3;
    border: 1px solid #ffffff00;
    border-radius: 3px;
    padding: 2px 5px 6px 5px;
    text-align: justify;
    display: block;
    box-shadow: 0 1px 1px 0 #000000b3;

    .dark-mode & {
        background-color: #383838;
        border: 1px solid #46464669;
        color: inherit;
    }
}

.warning::before,
.note::before,
.idea::before,
.pros::before,
.cons::before,
.post blockquote::before {
    font-family: fontello;
    padding: 0px 8px 0px 5px;
}

.post blockquote p {
    margin: 0 0 0 10px;
    display: inline;
}

.post blockquote::before {
    content: "\f10e";
}

.warning {
    padding: 4px 5px 4px 5px;
}

.warning::before {
    content: "\e808";
    color: #ec3945;
}

.idea {
    font-size: .9em;
}

.idea::before {
    content: "\f0eb";
    color: #fff700;
    font-size: 1.4em;
    text-shadow: 0px 1px 1px #000000;
}

.note {
    background-color: #2d2d2d;
    font-size: .9em;
    color: white;
}

.note::before {
    content: "\f24a";
    font-size: 1.2em;
}

.long-link {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.path {
    background-color: #515050;
    font-size: .9em;
    color: white;
    border: none;
}

.tag {
    color: #f92672;
}

.value {
    color: #e6db74;
}

.attr {
    color: #a6e22e;
}

.text-diagram {
    display: block;
    width: max-content;
    margin: auto;
}

.pros {
    color: #21965d;
    margin: 0;
}

.pros::before {
    content: "\e806";
}

.cons {
    color: #ff4d4d;
    margin: 0;
}

.cons::before {
    content: "\e807";
}
