---
layout: page
title: O mnie
description: Kilka słów + umiejętności
permalink: /o-mnie
---

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kilka słów
            <small>back story</small>
        </h1>
    </div>
</div>

<div class="row about">
    <div class="col-md-12">
        <p>Hej, mam na imię Marcin i mam 22 lata. Programowania uczyłem się na własną rękę. Zacząłem od technologii webowych, a obecnie skupiam się na Javie i jej ekosystemie od czasu do czasu wracając do frontendu. Pierwsze kroki zacząłem stawiać pod koniec 3 roku technikum informatycznego, w którym jednak programowania nie było (tylko prymitywny web). Mogę więc powiedzieć, że jestem w 100% samoukiem. Programowanie spodobało mi się na tyle, że chciałem z tym wiązać przyszłość - i tak też się stało. Po technikum zamierzałem dalej studiować informatykę, jednak po analizie plusów i minusów postanowiłem zrezygnować ze studiów w tym kierunku i jak na razie jestem zadowolony z tego wyboru.</p>

        <p>Ze znalezieniem pierwszej pracy nie miałem dużego problemu, dzięki temu, że gdzieś tam w tle cały czas inwestowałem w naukę programowania. Już po pierwszej rozmowie rekrutacyjnej otrzymałem ofertę pracy z której od razu skorzystałem. Niedługo miną 2 lata i zdecydowanie nie żałuję decyzji. Dzięki tej pracy, poza zdobywaniem doświadczenia w programowaniu, znacznie też rozwijam swoje umiejętności miękkie - praca z anglojęzycznym zespołem, delegacje zagraniczne i krajowe, a także miałem okazję prowadzić zajęcia w LO z podstaw programowania w ramach pracy. Także wszystko układa się super i oby tak dalej :slightly_smiling_face:</p>

        <p>Zrobiłem <a href="/moje-doswiadczenia/moja-droga-do-pierwszej-pracy">wpis</a> na blogu, gdzie opisałem
        dokładniej swoją drogę od początków z programowaniem do dostania pierwszej pracy. Jeśli jesteś w podobnej sytuacji to zachęcam do przeczytania :wink:</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Technologie
            <small>i % wyrażające jak się czuję w danej technologii</small>
        </h1>
    </div>
</div>

<div class="row about">
    <div class="col-md-12">
        {% for section in site.data.my_skills %}

            <p><b>{{ section.section }}</b></p>

            {% for skill in section.skills %}
                <div class="skillbar">
                    <div class="skillbar-title" style="background: {{ skill.color }};">{{ skill.skill }}</div>
                    <div class="skillbar-progress" style="width: calc({{ skill.grade }} - 130px); background: {{ skill.color }};"></div>
                    <span>{{ skill.grade }}</span>
                </div>
            {% endfor %}

        {% endfor %}

    </div>
</div>

<script src="/dist/js/skillbar.min.js"></script>
