---
layout: page
title: O mnie
description: Kilka słów + umiejętności
permalink: /o-mnie
---

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kilka słów
            <small>back story</small>
        </h1>
    </div>
</div>

<div class="row about">
    <div class="col-md-12">
        <p>Bloga aktywnie już nie prowadzę, ale opowiem nieco o sobie. Programowania uczyłem się na własną rękę. Zacząłem od technologii webowych, a obecnie skupiam się na Javie i jej ekosystemie. Od czasu do czasu wracam do frontendu, powoli stając się fullstackiem. Pierwsze kroki stawiałem pod koniec 3 roku technikum informatycznego, w którym jednak programowania nie było (tylko podstawowy webdev). Mogę więc powiedzieć, że jestem w 100% samoukiem. Programowanie spodobało mi się na tyle, że chciałem z tym wiązać przyszłość - i tak też się stało. Po technikum zamierzałem dalej studiować informatykę, jednak po analizie plusów i minusów postanowiłem zrezygnować ze studiów w tym kierunku i rozpocząć od razu pracę :slightly_smiling_face:</p>

        <p>Zrobiłem <a href="/moje-doswiadczenia/moja-droga-do-pierwszej-pracy">wpis</a> na blogu, gdzie opisałem
        dokładniej swoją drogę od początków z programowaniem do dostania pierwszej pracy. Jeśli jesteś w podobnej sytuacji to zachęcam do przeczytania :wink:</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Technologie
            <small>i % wyrażające jak się czuję w danej technologii</small>
        </h1>
    </div>
</div>

<div class="row about">
    <div class="col-md-12">
        {% for section in site.data.my_skills %}

            <p><b>{{ section.section }}</b></p>

            {% for skill in section.skills %}
                <div class="skillbar">
                    <div class="skillbar-title" style="background: {{ skill.color }};">{{ skill.skill }}</div>
                    <div class="skillbar-progress" style="width: calc({{ skill.grade }} - 130px); background: {{ skill.color }};"></div>
                    <span>{{ skill.grade }}</span>
                </div>
            {% endfor %}

        {% endfor %}

    </div>
</div>

<script src="/dist/js/skillbar.min.js"></script>
