---
layout: page
title: "Moja biblioteka"
description: "Książki programistyczne, które przeczytałem lub jestem w trakcie"
permalink: "/moja-biblioteka/"
---

{% assign numOfbooks = 0 %}
{% for section in site.data.my_library %}
{% assign numOfbooks = numOfbooks | plus: section.books.size %}
{% endfor %}

<h2>{{ numOfbooks }}
    <small> - Ilość wszystkich książek</small>
</h2>

{% for section in site.data.my_library %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ section.section }}
            <small>{{ section.subtitle }}</small>
        </h1>
    </div>
</div>

<div class="books row">
    {% for book in section.books %}
    <div class="book">
        {% if book.helionID %}

        {% assign link = "https://helion.pl/view/9102Q/" | append: book.helionID | append: ".htm" %}
        {% assign img = "https://static01.helion.com.pl/global/okladki/181x236/" | append: book.helionID | append:
        ".jpg" %}

        {% else %}

        {% assign link = book.link %}
        {% assign img = book.img %}

        {% endif %}

        <a href="{{ link }}">
            <img class="img-link" src="{{ img }}"/>
            <b>{{ book.title }}</b>
            {{ book.author }}
        </a>

    </div>
    {% endfor %}

    {% if forloop.last %}
    <p class="text-center">Jeśli szukasz książek w innych technologiach to: </p>

    <div class="box-effect books-ad inline">
        <a href="https://jaki-jezyk-programowania.pl/ksiazki">
            <img src="/img/books.png" alt="książki"/>
            <h3>Zobacz polecane książki na: <br> jaki-jezyk-programowania.pl</h3>
        </a>
    </div>

    <br><br>
    {% endif %}

</div>

{% endfor %}




