---
layout: default
description: "{ Blog programistyczny }"
---

<!-- Page Header -->
<header class="intro-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <div class="inline">
            <img class="header-logo" src="/img/devcave.png" alt="Logo"/>
          </div>
          <div class="inline">
            <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            <hr class="small">
            <span class="subheading">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1 col-md-8">
      <h1>Ostatnie wpisy:</h1>
      {% for post in paginator.posts %}
      <div class="post-preview box-effect">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post-title">{{ post.title }}</h1>
          {% if post.subtitle %}
          <h2 class="post-subtitle">{{ post.subtitle }}</h2>
          {% endif %}
        </a>

        <p class="post-meta">
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
          {% when '1' %}stycznia
          {% when '2' %}lutego
          {% when '3' %}marca
          {% when '4' %}kwietnia
          {% when '5' %}maja
          {% when '6' %}czerwca
          {% when '7' %}lipca
          {% when '8' %}sierpnia
          {% when '9' %}września
          {% when '10' %}października
          {% when '11' %}listopada
          {% when '12' %}grudnia
          {% endcase %}
          {{ post.date | date: "%Y" }}</p>
        {% assign tags = post.tags | sort %}{% for tag in tags %}
        <div class="site-tag"><a href='/archiwum#{{ tag | downcase | replace: ' ', '-' }}'>{{ tag }}</a></div>
        {% endfor %}
      </div>
      {% endfor %}

      <!-- Pager -->
      {% if paginator.total_pages > 1 %}
      <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
          <a class="box-effect" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Nowsze
            posty</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
          <a class="box-effect" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Starsze posty <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="row top-posts">
        <h1>Najpopularniejsze wpisy:</h1>
        <span class="text-muted">Top {{ site.data.top_posts | size }}</span>
        <ul>
          {% for post in site.data.top_posts %}
          <li class="box-effect row">
            <div class="top-position">{{forloop.index}}#</div>
            <div class="top-entry">
              <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
              </a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="row box-effect books-ad">
        <a href="https://jaki-jezyk-programowania.pl/ksiazki">
          <img src="/img/books.png"/>
          <h3>Zobacz polecane książki na mojej stronie jaki-jezyk-programowania.pl</h3>
        </a>
      </div>
    </div>
  </div>
</div>

<hr>


