{% include effective-java/disclaimer.html %}

{% assign chapterIndex = page.chapter | minus: 2 %}
{% assign chapter = site.data.effective_java_chapters[chapterIndex] %}
{% assign posts = site.categories.["Effective-Java"] | where_exp:"post","post.chapter == page.chapter" | sort: 'date' %}

<p>Ten wpis nawiązuje do {% if item.length > 1 %}tematów{% else %}tematu{% endif %} z <i>Item {{ page.item | join: ', '}}</i> z rozdziału {{ page.chapter }}:</p>

<p class="m-0">{{ chapter.chapter }}</p>

{% assign done = "" | split: ',' %}

<ul class="fa-ul custom">
    {%- for post in posts -%}
        {% assign items = post.item | split: ', ' %}
        {%- for item in items -%}
            {% assign itemNumber = item | to_integer %}

            {%- assign itemName = chapter.items[itemNumber] -%}

            {%- assign postName = itemName -%}
            {%- assign itemData = itemName | split: ' | ' -%}
            {%- if itemData[1] -%}
                {%- assign postName = itemData[0] -%}
                {%- assign postAnchor = itemData[1] -%}
            {%- else -%}
            {%- assign postAnchor =  -%}
            {%- endif -%}

            {% assign pageItems = page.item | split: ', ' %}
            {%- if pageItems contains item -%}
                <li style="list-style-type: none;">
                    <a href="{{ page.url }}{{postAnchor}}">
                        <i class="fa-li fa fa-arrow-right"></i>{{ postName }}
                    </a>
                </li>
            {%- else -%}
            <li>
                <a href="{{ post.url }}{{postAnchor}}">{{ postName }}
                </a>
            </li>
            {%- endif -%}
            {% assign done = done | push:itemNumber %}
        {%- endfor -%}
    {%- endfor -%}


    {%- for item in chapter.items -%}
        {%- unless done contains item[0] -%}

        {%- assign postName = item[1] -%}
        {%- assign itemData = item[1] | split: ' | ' -%}

        {%- if itemData[1] -%}
            {%- assign postName = itemData[0] -%}
        {%- endif -%}
            <li>
                <a herf="" class="disabled">{{ postName }}
                </a>
            </li>
        {%- endunless -%}
    {%- endfor -%}
</ul>
<hr>
