<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center social-buttons">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="RSS">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" data-toggle="tooltip" data-placement="top" title="Github">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ site.email_username }}" data-toggle="tooltip" data-placement="top" title="{{ site.email_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>


<script src="{{ "/dist/js/libs/jquery.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/dist/js/libs/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/dist/js/devcave.min.js" | prepend: site.baseurl }}"></script>