<footer class="d-print-none">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center social-buttons">
                    <li class="list-inline-item">
                        <a class="main-btn" href="/feed.xml" data-toggle="tooltip" data-animation="zoom" data-delay="50" title="RSS">
                            <i class="fa fa-rss fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="main-btn" href="https://www.linkedin.com/in/marcin-lasota/" data-toggle="tooltip" data-animation="zoom" data-delay="50" title="LinkedIn">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="main-btn" href="https://github.com/{{ site.github_username }}" data-toggle="tooltip" data-animation="zoom" data-delay="50" title="Github">
                            <i class="fa fa-github fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="main-btn" href="mailto:{{ site.email_username }}" data-toggle="tooltip" data-animation="zoom" data-delay="50" title="{{ site.email_username }}">
                            <i class="fa fa-envelope fa-lg"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{ site.copyright_name }} 2017 - {{ 'now' | date: "%Y" }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="/dist/js/devcave.min.js"></script>
