<div class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="/img/devcave.png" alt="logo"> {{ site.title }}</a>

            <button type="button" id="navbar-toggle-btn" class="navbar-toggle" data-toggle="collapse"
                    data-target="#site-nav" aria-expanded="false" aria-controls="site-nav">

                Menu <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>

        <nav id="site-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-el" href="{{ site.baseurl }}/o-mnie/">O mnie</a>
                </li>

                <li>
                    <a class="nav-el" href="{{ site.baseurl }}/archiwum/">Archiwum</a>
                </li>

                <li>
                    <a class="nav-el" href="{{ site.baseurl }}/kontakt/">Kontakt</a>
                </li>
                <li>
                    <a class="nav-el books-btn" href="{{ site.baseurl }}/moja-biblioteka">Moja biblioteka</a>
                </li>
                <li>
                    <a class="nav-el" href="{{ site.baseurl }}/moje-projekty">Moje projekty</a>
                </li>
                <li>
                    <button class="dark-mode-btn nav-el" data-toggle="tooltip" data-placement="bottom"
                            title="Zmień motyw">
                        <i class="fa fa-sun-o" aria-hidden="true"></i>/<i class="fa fa-moon-o" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
