<div class="text-center recommended">
    <div class="box-effect books-ad {% if include.inline == true %} inline {% endif %}">
        <a href="https://jaki-jezyk-programowania.pl/ksiazki">
            <img src="/img/reuse/books.png" alt="książki"/>
            <h3>Zobacz polecane książki</h3>
        </a>
    </div>

    <div class="box-effect books-ad {% if include.inline == true %} inline {% endif %}">
        <a href="https://jaki-jezyk-programowania.pl/kursy">
            <img src="/img/reuse/video-courses.png" alt="video kursy"/>
            <h3>Zobacz polecane video kursy</h3>
        </a>
    </div>
</div>