---
layout: default
---

<header class="intro-header">
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% if page.title == "Moje projekty" %}
                {% assign css = "col-xl-8 col-lg-9 col-md-10" %}
            {% else %}
                {% assign css = "col-xl-6 col-lg-8 col-md-10" %}
            {% endif %}
            <div class="{{ css }}">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="{{ css }}">
			{{ content }}
		</div>
	</div>
</div>

<hr>
