---
layout: default
---

<header class="post-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <p class="meta">
                    {% assign m = page.date | date: "%-m" %}
                    {{ page.date | date: "%-d" }}
                    {% case m %}
                      {% when '1' %}stycznia
                      {% when '2' %}lutego
                      {% when '3' %}marca
                      {% when '4' %}kwietnia
                      {% when '5' %}maja
                      {% when '6' %}czerwca
                      {% when '7' %}lipca
                      {% when '8' %}sierpnia
                      {% when '9' %}września
                      {% when '10' %}października
                      {% when '11' %}listopada
                      {% when '12' %}grudnia
                    {% endcase %}
                    {{ page.date | date: "%Y" }}</p>
                     {% assign tags = page.tags | sort %}{% for tag in tags %}<div class="site-tag"><a href='/archiwum#{{ tag | downcase | replace: ' ', '-' }}'>{{ tag }}</a></div> {% endfor %}
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container post">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr class="header-hr">

                <span>Spis treści:</span>

                {{ content | toc_only }}

                <hr>

				        {{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Poprzedni post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Następny post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

                <hr>
                
                {% include disqus.html %}
            </div>
        </div>
    </div>

</article>

<hr>

